html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 1% auto;
  padding: auto;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 56em;
}
body, .app {
  background: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
}

.shows-card {
  align-self: center;
  justify-self: center;
}

.shows-title {
  justify-self: center;
  text-align: center;
}

.brightness {
  background-color: white;
  display: inline-block;

}
.brightness img:hover {
  opacity: .7;
}

.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  grid-column: 1 / span 2;
}

.header,
.main,
.aside,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  text-align: justify;
}
